<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <h1>test</h1>

    <div class="has-text-centered">
        <form action="" method="post">
            {% csrf_token %}
            <div class="title">
                {{ form.test_title | add_class:"input is-primary"}}
            </div>
                <button class="button is-danger is-rounded is-large is-hovered" style="margin: 50px;">保存</button>
        </form>
    </div>
    <div id="output"></div>
    <script>
        document.querySelector("#output").innerHTML = "{{nlp_test}}"
    </script>
</body>
</html>